
.DS_Store
.python-version
10kfaces.zip
cluster/0.jpg
cluster/1.jpg
cluster/10.jpg
cluster/100.jpg
cluster/101.jpg
cluster/11.jpg
cluster/12.jpg
cluster/13.jpg
cluster/14.jpg
cluster/15.jpg
cluster/16.jpg
cluster/17.jpg
cluster/18.jpg
cluster/19.jpg
cluster/2.jpg
cluster/20.jpg
cluster/21.jpg
cluster/22.jpg
cluster/23.jpg
cluster/24.jpg
cluster/25.jpg
cluster/26.jpg
cluster/27.jpg
cluster/28.jpg
cluster/29.jpg
cluster/3.jpg
cluster/30.jpg
cluster/31.jpg
cluster/32.jpg
cluster/33.jpg
cluster/34.jpg
cluster/35.jpg
cluster/36.jpg
cluster/37.jpg
cluster/38.jpg
cluster/39.jpg
cluster/4.jpg
cluster/40.jpg
cluster/41.jpg
cluster/42.jpg
cluster/43.jpg
cluster/44.jpg
cluster/45.jpg
cluster/46.jpg
cluster/47.jpg
cluster/48.jpg
cluster/49.jpg
cluster/5.jpg
cluster/50.jpg
cluster/51.jpg
cluster/52.jpg
cluster/53.jpg
cluster/54.jpg
cluster/55.jpg
cluster/56.jpg
cluster/57.jpg
cluster/58.jpg
cluster/59.jpg
cluster/6.jpg
cluster/60.jpg
cluster/61.jpg
cluster/62.jpg
cluster/63.jpg
cluster/64.jpg
cluster/65.jpg
cluster/66.jpg
cluster/67.jpg
cluster/68.jpg
cluster/69.jpg
cluster/7.jpg
cluster/70.jpg
cluster/71.jpg
cluster/72.jpg
cluster/73.jpg
cluster/74.jpg
cluster/75.jpg
cluster/76.jpg
cluster/77.jpg
cluster/78.jpg
cluster/79.jpg
cluster/8.jpg
cluster/80.jpg
cluster/81.jpg
cluster/82.jpg
cluster/83.jpg
cluster/84.jpg
cluster/85.jpg
cluster/86.jpg
cluster/87.jpg
cluster/88.jpg
cluster/89.jpg
cluster/9.jpg
cluster/90.jpg
cluster/91.jpg
cluster/92.jpg
cluster/93.jpg
cluster/94.jpg
cluster/95.jpg
cluster/96.jpg
cluster/97.jpg
cluster/98.jpg
cluster/99.jpg
face/1.142484901.0.jpg
face/2.bike.jpg
face/2.student-girl-holding-book-coffee-cup-student-girl-holding-book-coffee-cup-smiling-woman-isolated-portrait-108797258.jpg
face/4.800px_COLOURBOX4927010.jpg
face/6.1*-aA23M2ZwNttSi2NGUgQVA.jpg
face/8.kanye-west-attends-the-christian-dior-show-as-part-of-the-paris-fashion-week-womenswear-fall-winter-2015-2016-on-march-6-2015-in-paris-france-photo-by-dominique-charriau-wireimage-square.jpg
face/9.shutterstock_648907024.jpg
faces/1.1*b7eUuIPRoH5yE7of11JhCw.jpg
faces/1.142484901.0.jpg
faces/1.terry-crews-person-of-year-2017-time-magazine-2.jpg
faces/10.500_F_117364322_7awtHqkvQCiRggBCG1Fq5mt5jPMNjdKh.jpg
faces/10.african-woman-s-face.jpg
faces/10.shutterstock_128644205869648.jpg
faces/11.2KRSuY9.jpg
faces/11.GettyImages-510705400.jpg
faces/12.20-Ways-Dermatologists-Wake-Up-With-Younger-Looking-Skin-6.jpg
faces/12.493ss_diomedia_rm_bells_palsy.jpg
faces/12.500_F_117174633_jeVe5OkHyjbybewzrEjI31Ls0sjgKwau.jpg
faces/13.70488814-portrait-of-beautiful-young-smiling-woman-with-clean-fresh-skin-touching-own-face-facial-treatment-c.jpg
faces/13.face1.jpg
faces/13.tv4tcj9y6yc11.jpg
faces/14.350_.inline2_beauty_w.png
faces/14.beautiful-face-young-woman-clean-fresh-skin-33041410.jpg
faces/14.NMM_LOOK_MDL1_KELSEY_FF_LIP_OIL_VER_XL.jpg
faces/15.111493-109302.jpg
faces/15._106934553_gettyimages-1022348426_crop.jpg
faces/16.612IvHxq3kL._SX425_.jpg
faces/17.292dbd498b43bcaf042483b328a791a6-beautiful-girls-face-pretty-face.jpg
faces/17.depositphotos_211132268-stock-photo-young-beautiful-woman-healthy-face.jpg
faces/17.suprised-man.jpg
faces/18.9333014-closeup-portrait-of-beautiful-pretty-face-of-young-girl-close-up-portrait.jpg
faces/18.square_faces.jpg
faces/19.c7e35bfdffd1b4a09d3b63e9971c7c42.jpg
faces/19.woman-2112292_960_720.jpg
faces/2.16858801-face-of-beautiful-young-woman-with-beautiful-blue-eyes-closeup-image-on-white-background.jpg
faces/2.shutterstock128877811.jpg
faces/2.trump-midterm-elections-voting-day.jpg
faces/20.bronzer-facestudio-master-bronze-kit-400px.jpg
faces/20.sofiazhuravets170200018.jpg
faces/21.111493-109300.jpg
faces/21.comparison-young-old-woman-half-face-makeup.jpg
faces/21.p-1-the-worlds-first-face-gym-wants-to-make-your-head-sweat.jpg
faces/22.2017-09-09-06-59-14.jpg
faces/22.depositphotos_211132262-stock-photo-young-beautiful-woman-healthy-face.jpg
faces/22.test7.jpg
faces/23.AdobeStock_96303855-e1469568363297.jpeg
faces/23.face-wash-gettyimages-489974588-1557345669.jpg
faces/24.3080310-EYWDBJJY-6.jpg
faces/25.500_F_142994243_ilhyQuKl5lUB553ps5ZJ6OhfGHJoBcAj.jpg
faces/25.image.jpg
faces/26.tumblr_n87zscbAFl1rk74v1o1_500.jpg
faces/27.040519-skin-microbiome-lead.jpg
faces/27.1.jpg
faces/27.Pretty-Face-Makeup-1.png
faces/28.13f0d8c15d32f97633a607bf683c5f4f.jpg
faces/28.close-up-of-young-womans-face-profile-red-lips-X1G96W.jpg
faces/28.w_sexy_gr.jpg
faces/29.1679254-bigthumbnail.jpg
faces/29.IMG_0833-1.jpg
faces/3.1348-10-Amazing-Skin-Care-Tips-To-Look-Young-After-25-shutterstock_127703261.jpg
faces/3.artworks-000486964521-30932l-t500x500.jpg
faces/3.billgates.jpg
faces/30.4k-close-up-of-the-face-of-the-evil-man-young-male-in-a-black-jacket-looking-to-the-camera-and-getting-angry_shrbmt_ye_thumbnail-full01.png
faces/30.91EywOaWk4L._SS500_.jpg
faces/30.FotoFinder_aesthetics_face.jpg
faces/31.GettyImages-740523667.jpg
faces/32.maxresdefault.jpg
faces/33.d3he9ju-8c112322-8e0d-43ee-aa5b-a767eee65c6b.jpg
faces/34.c436a58e-73e5-11e9-b91a-87f62b76a5ee_image_hires_115320.jpg
faces/34.image-20161215-26032-g20ysg.jpg
faces/34.shutterstock_141020404.jpg
faces/35.MG_0670_1024x1024.jpg
faces/36.keep-young-face.png
faces/37.FACE_OK_3.jpg
faces/37.rote-lippen-huebsch-pretty-face--vox-940.jpg
faces/37.royalty-free-stock-footage-of-young-girls-sneaky-face-on-a-black-background_vyrrcapd__F0000.png
faces/38.550px-nowatermark-Have-a-Pretty-Face-Step-15.jpg
faces/38.rachel_taylor.jpg
faces/39.face-gym-07.jpg
faces/39.ilhan-omar-2.jpg
faces/39.portrait-4400178_960_720.jpg
faces/4.10802240-portrait-of-young-sensuality-woman-with-beautiful-pretty-face-with-long-hair-isolated-on-white.jpg
faces/4.2019-washing-face-in-shower-thekit.ca-feature-491x592.jpg
faces/4.Rachel-R.-Person-760x760.jpg
faces/40.closeup-shot-of-female-pretty-face-with-picture_csp62323212.jpg
faces/40.cropped-view-of-young-woman-applying-cosmetic-cream-royalty-free-image-916516526-1551975436.jpg
faces/40.girl-glowing-skin-blue-eyes.jpg
faces/42.645Z3595+copy.jpg
faces/44.500_F_18501033_fxvJiPdp5qa6IJSPLraT6St0oxuscYS8.jpg
faces/47.91e1b9766eff4ba0fc7bbcd9c251ae3e.jpg
faces/48.5-Best-Face-Cream-for-Young-Man.jpg
faces/49.nyul111100169.jpg
faces/4b1e4991-5877-41c1-b196-9fbda68d71da.jpg
faces/5.220px-Pierre-Person.jpg
faces/5.5769514-close-up-front-view-portrait-of-a-beauty-young-female-face-over-white-background.jpg
faces/5.RPlWCdb.jpg
faces/50.Kristen-Stewart-face-hat-young-1049730.jpg
faces/51.beautiful-young-caucasian-woman-doing-face-yoga-royalty-free-image-533151775-1552934766.jpg
faces/52.totem-pic-e1553802083128-608x900.jpg
faces/53.storyblocks-face-of-young-beautiful-caucasian-woman-with-hair-tied-back_Bt0psl1nQ_SB_PM.jpg
faces/54.young-little-girl-making-silly-face-20702804.jpg
faces/55.f15iq2spxht82cj71ntzorpoiec4mnizrmea2jk3zoxvvpf68fhzq7x9wr4mlnx4-.jpg
faces/56.GettyImages-536656280.jpg
faces/57.girl-388524_960_720.jpg
faces/59.112454063-young-female-with-clean-fresh-skin-beautiful-woman-female-face-close-up-portrait-of-young-caucasian-.jpg
faces/6.d6a957f1d8045c9c973c12bf5968326f.jpg
faces/6.model-curly-hair-nose-ring.jpg
faces/6.screen-shot-2019-02-19-at-40014-pmpng.png
faces/60.handhels-footage-of-young-plain-beauty-teen-girl-face-smiling-outdoors_bcs0bkpex_thumbnail-full01.png
faces/61.beautiful-happy-young-woman-portrait-face-with-freckles-and-smil-400-49602613.jpg
faces/62.shutterstock_710793796-1000x480.jpg
faces/63.Brad%20Pitt%20young.jpg
faces/64.close-up-of-young-womans-face-profile-red-lips-X8TGM9.jpg
faces/67.catherine-zeta-jones-makeup-t.jpg
faces/68.VP-ForeverYoung-Lifestyle-1_16d334fd-ba52-4dc5-a5fd-5739d1f01564_800x.jpg
faces/7.1*gBQxShAkxBp_YPb14CN0Nw.jpeg
faces/7.12348904-portrait-of-beautiful-young-girl-with-clean-skin-on-pretty-face-white-background.jpg
faces/7.3537ff10882111e781cea326ecc88e7f_shutterstock_514192915.jpg
faces/7.face-wash-2-1561136582.jpg
faces/70.storyblocks-emotion-face-smiling-woman-pleased-with-herself-self-satisfied-young-beautiful-brown-haired-girl-looking-sideways-portrait-on-blue-background_SmzEO5Hgnm_SB_PM.jpg
faces/71.206319985.jpg
faces/72.500_F_113806929_8Hg7FCULV37IcI34y9OcjhKnBvKoVQzU.jpg
faces/74.500_F_251760225_ZNtHZpjj6pvGtiWAbr5IoRM0dK8GJ0zj.jpg
faces/76.Young-smiling-woman-applying-cream-to-face-in-the-bathroom.jpg
faces/77.1000_F_227675039_zpt4YcgZlwQ2feUausl8N5EidGqXR5BG.jpg
faces/79.subbotina140500034.jpg
faces/8.pretty.today-Image2132.jpg
faces/8.skincare-994444.jpg
faces/80.61DPwjN2FkL._SX425_.jpg
faces/81.depositphotos_174740674-stock-photo-closeup-face-young-woman-cosmetic.jpg
faces/82.fresh-face-1.jpg
faces/85.young-man-in-a-corporate-suit-face-portrait.jpg
faces/87.mel_gibson_feature.jpg
faces/88.dermapen.png
faces/89.beautiful-young-woman-portrait_23-2148256338.jpg
faces/9.argan-oil-for-your-face_1920x1080.jpg
faces/9.large.jpg
faces/93.close-up-of-young-womans-face-profile-red-lips-AX5N7K.jpg
faces/b3a8dfc6-78ec-453a-99b8-696cd4c7916e.jpg
faces/1.142484901.0.jpg
*.jpg
resnet50_coco_best_v2.0.1.h5
